@import "~sass/common/_variables";
@import "~sass/common/_mixin";
@import "~sass/common/_helpers";
@import "~sass/common/_fonts";
@import "~sass/common/_base";

.btn-share {
    @extend .btn;
    @include material-shadow(1);

    display: block;
    font-weight: $bold;
    text-align: center;
    width: 100%;

    &.-facebook {
        background-color: #3b5998;
    }

    &.-twitter {
        background-color: #4099FF;
    }
}

.btn-begin {
    @extend .btn;
    @include material-shadow(1);

    background-color: $green;
    display: block;
    font-weight: $bold;
    text-align: center;
    width: 100%;
}

.btn-refresh {
    background-color: $green;
    border: 0;
    color: $white;
    font-size: 3em;
    overflow: hidden;
    opacity: 0;
    padding: 0;
    position: relative;
    top: 150px;
    visibility: hidden;
    width: 100%;
    z-index: 100;

    .icon {
        @include inline-block;

        position: relative;
        top: 3px;
    }
}