<app-loader></app-loader>
<section class="container timetable">
    <div class="wrap">
        <div class="col-6">
            <div class="sort-toggle">
                <input id="sort-toggle" type="checkbox" name="sort-toggle" />
                <label for="sort-toggle" class="checkbox">Sort by time</label>
            </div>
        </div>
        <div class="col-6">
            <button type="button" class="btn-refresh js-refresh">
                <span class="sr-only">Refresh</span>
                <i class="icon icon-refresh"></i>
            </button>
        </div>
        <div class="cards-wrapper">
            <app-card-header [bookmarkArr]='bookmarkArr'></app-card-header>

            <app-card-bus [buses]='busesArr'></app-card-bus>
        </div>
    </div>
</section>