.stopMarker,
.busMarker,
.bluePin,
.redPin {
    box-shadow: 0 0 0 0 transparent !important;
    display: inline-block;
    margin: 0 !important;
}

.stopMarker {
    max-width: 15px;
}

.busMarker {
    max-width: 20px;
}

.bluePin,
.redPin {
    max-width: 20px;
}
