// Normalize Styles
@import "node_modules/normalize.css/normalize";

// Import all needed help
@import "common/_variables";
@import "common/_mixin";
@import "common/_material-mixin";
@import "common/_helpers";
@import "common/_fonts";
@import "common/_base";
@import "common/_grid";
@import "common/_material-design";
@import "common/_mCustomScrollbar";

// Import Modules
@import "../_modules/primary-nav/primary-nav";
@import "../_modules/app-banner/app-banner";
@import "../_modules/accordion/accordion";
// @import "../_modules/leaflet/leaflet";

// Box sizing partial styles:
// Apply a natural box layout model to all elements
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.intro {
    font-size: 1.8em;
}

.new {
    color: $red;
    font-weight: $bold;
}

.timetable,
.search,
.bookmark {
    margin-bottom: 115px;
    padding-top: $gutterTablet;

    p {
        margin: 0;
    }
}

.search {
    height: 100vh;
    margin-bottom: 0;
    padding-top: 0;
    position: relative;

    &.selected {
        margin-bottom: 0;

        .wrap {
            height: 100%;
        }

        input[type="text"] {
            font-size: 1.6em;
        }
    }

    & > .wrap {
        @include absolute-center();
        @include transition(all, 1s, $easeInOutExpo);

        height: 115px;
        padding-top: 20px;
    }

    input[type="text"] {
        font-size: 3em;
    }

    .col-6 {
        float: left;
        width: 50%;
    }
}

.timetable {
    margin-bottom: 100px;

    .col-6 {
        float: left;
        width: 50%;
    }
}

.offline {
    h2 {
        font-size: 10em;
        font-weight: $light;
        text-align: center;
    }

    svg {
        display: block;
        margin: auto;
        width: 290px;
    }
}

.stopMarker,
.busMarker,
.bluePin,
.redPin {
    box-shadow: 0 0 0 0 transparent !important;
    display: inline-block;
    margin: 0 !important;
}

.stopMarker {
    max-width: 15px;
}

.busMarker {
    max-width: 20px;
}

.bluePin,
.redPin {
    max-width: 20px;
}

.bookmarks {
    @include tablet {
        text-align: center;
    }

    img {
        display: inline-block;

        @include tablet {
            margin: 0 10px !important;
            width: 40%;
        }
    }
}

.cards-wrapper {
    @extend %clearfix;

    float: left;
    width: 100%;
}

.card {
    @include reset-transitions;

    float: left;
    margin-bottom: 30px;
    width: 50%;
    z-index: 5;

    &:last-child {
        margin-bottom: 90px;
    }

    @include tablet {
        width: 25%;
    }

    p {
        font-weight: $bold;
        height: 65px;
        line-height: 1;
    }

    &__header {
        background-color: transparent;
        border: 0;
        font-size: 1em;
        margin-bottom: 20px;
        padding: 0;
        text-align: left;
        width: 100%;

        h2 {
            margin: 0;
        }

        .card__wrapper {
            background-color: $black;
            color: $white;
            height: auto;
            margin: 0 $gutter;
            padding-right: 40px;
        }

        .icon {
            @include transition(all, 0.5s, $easeOutExpo);

            bottom: 0;
            font-size: 2em;
            height: 20px;
            line-height: normal;
            margin: auto;
            opacity: 0.5;
            position: absolute;
            top: 0;
            right: 10px;
            width: 20px;

            &.active {
                opacity: 1;
                color: $yellow;
            }
        }
    }

    &__wrapper {
        border: 4px solid $black;
        line-height: 1;
        height: 164px;
        margin: 0 $gutter;
        padding: 20px;
        position: relative;

        .wrap {
            margin: 0;
        }

        .col-9 {
            float: left;
            margin-bottom: 0;
            padding: 0;
            width: 75%;
        }
    }

    &.warning {
        margin-bottom: 0;
        width: 100%;

        .card__wrapper {
            background-color: $red;
            height: auto;
            text-align: center;
        }

        p {
            color: $white;
            height: auto;
        }
    }

    .ripple {
        circle {
            fill: $grey;
        }
    }

    .loader {
        -webkit-transform: none !important;
        -moz-transition: none !important;
        -ms-transform: none !important;
        -o-transition: none !important;
        transform: none !important;
        bottom: 0;
        height: 40px !important;
        left: auto;
        margin: auto;
        position: absolute;
        right: 20px;
        top: 0;
        width: 40px !important;
    }

    .bus {
        font-size: 4.25em;
        font-weight: $ultra-bold;
        line-height: 1;
    }

    .feature {
        padding: 0;

        .icon {
            @include inline-block;

            background-color: $black;
            border-radius: 50%;
            color: $white;
            height: 25px;
            margin-right: 5px;
            padding: 4px;
            vertical-align: middle;
            text-align: center;
            width: 25px;

            &-bike-rack {
                font-size: 1.5em;
            }

            &-wheel-chair {
                font-size: 1.4em;
                padding: 5px;
            }
        }
    }

    .eta {
        border-top: 2px solid $black;
        clear: both;
        // font-size: 1.8em;
        font-size: 1.3em;
        margin-top: 10px;
        padding-top: 10px;

        .next {
            // font-size: 0.778em;
            margin-top: 5px;
        }
    }

    .operational {
        color: $green;
    }

    .non-operational {
        color: $black;
    }

    .departed {
        color: $blue;
    }

    .due,
    .arriving {
        color: $green;
        font-size: 1.385em;
    }
}

.loader {
    @include centering-the-unknown;

    height: 50px !important;
    margin: 0 auto 20px;
    width: 50px !important;
    z-index: 15;
}

.autocomplete {
    &-suggestions {
        border: 1px solid $grey;
        background: $white;
        overflow: auto;

        strong {
            font-weight: normal;
            color: $blue;
        }
    }

    &-suggestion {
        font-size: 1.4em;
        padding: 2px 5px;
        white-space: nowrap;
        overflow: hidden;
    }

    &-selected {
        background: #F0F0F0;
    }

    &-group {
        padding: 2px 5px;

        strong {
            display: block;
            border-bottom: 1px solid #000;
        }
    }
}

.input {
    &--wrapper {
        margin-top: 5px;
        position: relative;

        input[type="text"] {
            overflow: hidden;
            padding-right: 15px;
            text-overflow: ellipsis;
        }

        .btn {
            background-color: transparent;
            border-radius: 0;
            color: $black;
            line-height: 1;
            opacity: 0;
            position: absolute;
            right: 0;
            top: 0;
            visibility: hidden;
        }
    }
}

.btn-refresh {
    background-color: $green;
    border: 0;
    color: $white;
    font-size: 3em;
    overflow: hidden;
    opacity: 0;
    padding: 0;
    position: relative;
    top: 150px;
    visibility: hidden;
    width: 100%;
    z-index: 100;

    .icon {
        @include inline-block;

        position: relative;
        top: 3px;
    }
}

.map {
    height: 520px;
}

.btn-begin {
    @extend .btn;
    @include material-shadow(1);

    background-color: $green;
    display: block;
    font-weight: $bold;
    text-align: center;
    width: 100%;
}

.btn-share {
    @extend .btn;
    @include material-shadow(1);

    display: block;
    font-weight: $bold;
    text-align: center;
    width: 100%;

    &.-facebook {
        background-color: #3b5998;
    }

    &.-twitter {
        background-color: #4099FF;
    }
}

/* required styles */

// for goglemap

.bus-label {
    border: 1px solid red;
}

.widget-mylocation {
    width: 28px;
    height: 28px;
    position: absolute;
    bottom: 90px;
    right: 10px;
}

.widget-mylocation-button {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 2px;
    border: 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    display: block;
    width: 29px;
    height: 29px;
    overflow: hidden;
    cursor: pointer;
    transition: background-color 0.16s ease-out;
    position: relative;
    display: none;

    &[disabled] {
        cursor: default;
    }
}

.widget-mylocation-button-icon-common {
    display: block;
    height: 18px;
    left: 6px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 6px;
    width: 18px;
}

.widget-mylocation-button .widget-mylocation-cookie {
    background-image: url(//maps.gstatic.com/tactile/mylocation/mylocation-sprite-1x.png);
    background-size: 180px 18px;
}

.highres .widget-mylocation-button .widget-mylocation-cookie {
    background-image: url(//maps.gstatic.com/tactile/mylocation/mylocation-sprite-2x.png);
}

.widget-mylocation-button .widget-mylocation-cookieless {
    background-image: url(//maps.gstatic.com/tactile/mylocation/mylocation-sprite-cookieless-v2-1x.png);
    background-size: 180px 18px;
}

.widget-mylocation-button {
    .widget-mylocation-button-normal {
        background-position: 0 0;
    }

    &:hover .widget-mylocation-button-normal {
        background-position: -36px 0;
    }

    &:active .widget-mylocation-button-normal {
        background-position: -54px 0;
    }

    .widget-mylocation-button-disabled {
        background-position: -18px 0;
    }

    .widget-mylocation-button-blue {
        background-position: -144px 0;
    }

    &:hover .widget-mylocation-button-blue, &:active .widget-mylocation-button-blue {
        background-position: -162px 0;
    }
}

.widget-mylocation-button .widget-mylocation-button-acquiring {
    background-image: url(//maps.gstatic.com/tactile/mylocation/mylocation-sprite-acquiring-1x.png);
    background-size: 36px 18px;
    opacity: 0.8;
    -webkit-animation: acquiring-animation 1s steps(1) infinite;
    animation: acquiring-animation 1s steps(1) infinite;
}

.widget-mylocation-tooltip {
    position: absolute;
    transition: opacity 0.13s ease-out 0.109s;
    vertical-align: baseline;
    line-height: normal;
    right: 100%;
    top: -1px;
}

.busMarkerIcon {
    @include material-shadow(2);

    background-color: $matte-black;
    border-radius: 50%;
    color: $white;
    height: 50px !important;
    font-weight: $bold;
    left: -22px;
    padding-top: 15px;

    // position: relative;
    text-align: center;
    top: -18px;
    width: 50px !important;
    z-index: 10;
}

.sort-toggle {
    margin-top: 13px;
    opacity: 0;
    position: relative;
    text-align: right;
    top: 150px;
    z-index: 105;

    label {
        padding-left: 0;
        padding-right: 60px;

        &.checkbox {
            &:before {
                @include transition( all, 0.5s, $easeOutExpo );
                @include inline-block;

                content: "";
                background: #d8d9db;
                border: 1px solid #d8d9db;
                border-radius: 12px;
                height: 24px;
                left: auto;
                right: 0;
                position: absolute;
                width: 50px;
            }

            &:after {
                @include scale(1);

                background-color: $white;
                border-radius: 50%;
                content: '';
                height: 22px;
                left: auto;
                right: 27px;
                top: 1px !important;
                width: 22px;
            }
        }
    }

    input[type="checkbox"]{
        &:checked + label {
            &:before {
                background: $blue;
                border: 1px solid $blue;
            }

            &:after {
                left: auto;
                right: 1px;
            }
        }
    }
}