extends ../../_layouts/base

block config
    //- Correct base url pathing for this page
    - var baseUrl = '../../'
    - var isBusStop = true
    - var busStopId = '3409'
    - var busStopName = 'City Bus Stn Plt 9'
    - var pageTitle = ' City Bus Stn Plt 9'

block content
    section.container.timetable
        .wrap
            .col-12
                button(type="button").btn-refresh.js-refresh
                    span.sr-only Refresh
                    i.icon.icon-refresh

            .cards-wrapper.col-12