@import "~sass/common/_variables";
@import "~sass/common/_mixin";
@import "~sass/common/_helpers";
@import "~sass/common/_fonts";
@import "~sass/common/_base";

input[type="checkbox"] {
    position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;

    &:checked + label {
        &:before {
            background: $black;
            border: 2px solid $black;
        }

        &:after {
            @include scale(1);

            color: $white;
            left: 1px;
            top: 1px;
        }
    }
}

label {
    display: block;
    font-size: $default-font-size;
    line-height: normal;
    padding-left: 30px;
    position: relative;
    margin-bottom: 10px;
    width: 100%;

    &.checkbox {
        &:before {
            @include transition(all, 0.5s, $easeOutExpo);
            @include inline-block;

            content: "";
            border: 2px solid $grey;
            border-radius: 3px;
            height: 20px;
            left: 0;
            position: absolute;
            width: 20px;
        }

        &:after {
            @include transition(all, 0.5s, $easeOutExpo);
            @include scale(0);
            @include inline-block;

            @extend %icomoon;

            color: transparent;
            content: "\e28a";
            font-size: 1em;
            height: 10px;
            left: 2px;
            margin: auto;
            position: absolute;
            top: 6px;
            width: 10px;
        }
    }
}

.sort-toggle {
    margin-top: 13px;
    opacity: 0;
    position: relative;
    text-align: right;
    top: 150px;
    z-index: 105;

    label {
        padding-left: 0;
        padding-right: 60px;

        &.checkbox {
            &:before {
                @include transition(all, 0.5s, $easeOutExpo);
                @include inline-block;

                content: "";
                background: #d8d9db;
                border: 1px solid #d8d9db;
                border-radius: 12px;
                height: 24px;
                left: auto;
                right: 0;
                position: absolute;
                width: 50px;
            }

            &:after {
                @include scale(1);

                background-color: $white;
                border-radius: 50%;
                content: '';
                height: 22px;
                left: auto;
                right: 27px;
                top: 1px !important;
                width: 22px;
            }
        }
    }

    input[type="checkbox"] {
        &:checked + label {
            &:before {
                background: $blue;
                border: 1px solid $blue;
            }

            &:after {
                left: auto;
                right: 1px;
            }
        }
    }
}
