extends ../_layouts/base

block config
    //- Correct base url pathing for this page
    - var baseUrl = '../'
    - var isBusStop = true

block content
    section.container.timetable
        .wrap
            .col-6
                .sort-toggle
                    input#sort-toggle.js-toggle-sort(type='checkbox', name='sort-toggle')
                    label.checkbox(for='sort-toggle') Sort by time
            .col-6
                button(type="button").btn-refresh.js-refresh
                    span.sr-only Refresh
                    i.icon.icon-refresh

            .cards-wrapper