extends ../_layouts/base

block config
    //- Correct base url pathing for this page
    - var baseUrl = '../'
    - var isBusStop = true

block content
    section.container.timetable
        .wrap
            .cards-wrapper.col-12