extends ../_layouts/base

block config
    //- Correct base url pathing for this page
    - var baseUrl = '../'

block content
    section.container.narrow
        h2 Awesome, you have made it here!
        p We a just a bunch of geeks playing with some new technology. This is no way connected to government or business. We are just having a play.
        p Did you face any issues while using the app?  What do you think of our app?  What would you like to add improve the app?  Or if you want to say g'day, hit us up at#{' '}
            a(href="mailto:cbrbusissues@gmail.com") cbrbusissues@gmail.com.