extends ../_layouts/base

block config
    //- Correct base url pathing for this page
    - var baseUrl = '../'

block content
    section.nearby
        #map.map

        .widget-mylocation.noselect
            button#widget-mylocation.widget-mylocation-button.js-find-location
                .widget-mylocation-button-icon-common.widget-mylocation-cookieless


