<header class="header">
    <nav id="primary-nav">
        <ul>
            <li>
                <a href="/" class="active">
                    <span class="icon icon-search"></span>
                    Search
                </a>
            </li>
            <li>
                <a href="/nearby/">
                    <span class="icon icon-map"></span>
                    Nearby
                </a>
            </li>
            <li>
                <a href="/bookmarks/">
                    <span class="icon icon-bookmark"></span>
                    Bookmarks
                </a>
            </li>
            <li>
                <a href="/about/">
                    <span class="icon icon-about"></span>
                    About
                </a>
            </li>
            <li>
                <a href="/share/">
                    <span class="icon icon-share"></span>
                    Share
                </a>
            </li>
        </ul>
    </nav>
</header>