<header class="header">
    <nav id="primary-nav">
        <ul>
            <li>
                <a
                    routerLink="/"routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <span class="icon icon-search"></span>
                    Search
                </a>
            </li>
            <li>
                <a
                    routerLink="/nearby/"routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <span class="icon icon-map"></span>
                    Nearby
                </a>
            </li>
            <li>
                <a
                    routerLink="/bookmarks/"routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <span class="icon icon-bookmark"></span>
                    Bookmarks
                </a>
            </li>
            <li>
                <a
                    routerLink="/about/"routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <span class="icon icon-about"></span>
                    About
                </a>
            </li>
            <li>
                <a
                    routerLink="/share/"routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <span class="icon icon-share"></span>
                    Share
                </a>
            </li>
        </ul>
    </nav>
</header>