extends _layouts/base

block config
    //- Correct base url pathing for this page
    - var baseUrl = '../'
    - var isSearch = true

block content
    section.container.search
        .wrap
            .col-12
                input.floating-input(type='text', placeholder='Bus stop number or name', data-hint='City Bus Station or 3000')

            .cards-wrapper.col-12
