extends _layouts/base

block config
    //- Correct base url pathing for this page
    - var baseUrl = '../'
    - var isSearch = true
    - var pageTitle = ' Search'
    - var navIndex = 1


block content
    section.container.search
        .wrap
            .col-12.input--wrapper
                input.floating-input(type='text', placeholder='Search by bus stop name or number', data-hint='3000')
                button(type='button').btn.js-clear
                    span.sr-only clear
                    i.icon.icon-cross

            .col-6
                .sort-toggle
                    input#sort-toggle.js-toggle-sort(type='checkbox', name='sort-toggle')
                    label.checkbox(for='sort-toggle') Sort by time
            .col-6
                button(type="button").btn-refresh.js-refresh
                    span.sr-only Refresh
                    i.icon.icon-refresh

            .cards-wrapper
