<section class="container search">
    <app-loader></app-loader>

    <div class="wrap">
        <div class="col-12 input--wrapper">
            <ng2-completer
                [(ngModel)]="searchStr"
                [datasource]="dataService"
                [autoMatch]="true"
                [autofocus]="true"
                [openOnFocus]="true"
                [selectOnClick]="true"
                (selected)="selected(searchStr)"
            ></ng2-completer>

            <button type="button" class="btn js-clear">
                <span class="sr-only">clear</span>
                <i class="icon icon-cross"></i>
            </button>
        </div>

        <div class="col-6">
            <div class="sort-toggle">
                <input id="sort-toggle" type="checkbox" name="sort-toggle" />
                <label for="sort-toggle" class="checkbox">Sort by time</label>
            </div>
        </div>
        <div class="col-6">
            <button type="button" class="btn-refresh js-refresh">
                <span class="sr-only">Refresh</span>
                <i class="icon icon-refresh"></i>
            </button>
        </div>
        <div class="cards-wrapper">
            <app-card-header [bookmarkArr]='bookmarkArr'></app-card-header>

            <app-card-bus [buses]='busesArr'></app-card-bus>
        </div>
    </div>
</section>