mixin primary-nav(spec)
    - spec = spec || {}
    - spec.navIndex = spec.navIndex || {}

    nav#primary-nav
        ul
            li
                a(href='/', class=(spec.navIndex == '1' ? 'active' : ''))
                    span.icon.icon-search
                    |Search
            li
                a(href='/bookmarks/', class=(spec.navIndex == '2' ? 'active' : ''))
                    span.icon.icon-bookmark
                    |Bookmarks
            li
                a(href='/nearby/', class=(spec.navIndex == '3' ? 'active' : ''))
                    span.icon.icon-map
                    |Nearby
            li
                a(href='/about/', class=(spec.navIndex == '4' ? 'active' : ''))
                    span.new !
                    span.icon.icon-about
                    |About