@import "../../styles/common/_variables.scss";
@import "../../styles/common/_mixin.scss";
@import "../../styles/common/_fonts.scss";

.accordion {
    margin-bottom: 10px;

    &__header {
        background-color: transparent;
        border: 0;
        font-size: 2.4em;
        font-weight: $bold;
        line-height: 1;
        margin: 0;
        padding: 13px 50px 13px 0;
        position: relative;
        text-align: left;
        word-break: break-word;
        width: 100%;
    }

    &__body {
        @include transition((max-height, opacity), 0.5s, $easeInOutExpo);

        max-height: 0;
        opacity: 0;
        overflow: hidden;

        .active & {
            max-height: 5000px;
            opacity: 1;
        }

        ol {
            padding: 0 0 0 20px;
        }

        li {
            .btn-begin {
                font-size: 1em;
                text-decoration: none;
            }
        }

        img {
            @include material-shadow(2);

            margin: 20px auto;
        }

        .image-wrap {
            text-align: center;

            img {
                @include inline-block;

                margin: 20px 5px;
            }
        }
    }

    &__btn {
        height: 50px;
        padding: 0;
        width: 50px;
        overflow: hidden;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 10;

        &:before,
        &:after {
            @include transition( all, 0.5s, $easeOutExpo );

            background-color: $black;
            bottom: 0;
            content: '';
            display: block;
            height: 2px;
            left: 0;
            margin: auto;
            position: absolute;
            top: 0;
            right: 0;
            width: 15px;
        }

        &:before {
            @include rotate(45deg);

            left: -9px;
        }

        &:after {
            @include rotate(-45deg);

            right: -9px;
        }

        .active & {
            &:before {
                @include rotate(-45deg);

                left: -9px;
            }

            &:after {
                @include rotate(45deg);

                right: -9px;
            }
        }
    }
}