extends ../_layouts/base

block config
    //- Correct base url pathing for this page
    - var baseUrl = '../'

block content
    section.container.bookmark
        .wrap
            .cards-wrapper.col-12