extends ../_layouts/base

block config
    //- Correct base url pathing for this page
    - var baseUrl = '../'
    - var isBookmark = true
    - var pageTitle = ' Bookmarks'
    - var navIndex = 2

block content
    section.container.bookmark
        .wrap
            .cards-wrapper